In [1]:
import pandas as pd

In [2]:
df_no_payment_hist = pd.read_csv('./Data/credt_data_no_payment_hist.csv')
df_no_payment_hist.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  default.payment.next.month
0    20000.0    2          2         1   24                           1
1   120000.0    2          2         2   26                           1
2    90000.0    2          2         2   34                           0
3    50000.0    2          2         1   37                           0
4    50000.0    1          2         1   57                           0

In [3]:
# Import SKLearn.
from sklearn.model_selection import train_test_split

# Scale the data
from sklearn.preprocessing import StandardScaler

# Split the data into training and testing sets
X = df_no_payment_hist.copy().drop('default.payment.next.month', axis=1)

# Create target Dataframe, y
y = df_no_payment_hist['default.payment.next.month']

# Test, Train, Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=24)

# Create the scaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform
X_train = scaler.fit_transform(X_train)

# Transform the test set
X_test = scaler.transform(X_test)

In [4]:
# Import the model
from sklearn.linear_model import LogisticRegression

# Create the model
model = LogisticRegression()

# Fit the model
model.fit(X_train, y_train)

# Predict the probability of default
y_pred = model.predict(X_test)

In [5]:
# Import the metrics
from sklearn.metrics import roc_auc_score

# Calculate the ROC score
roc_auc_score(y_test, y_pred)

0.5